.mat-card {
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
  background: whitesmoke;
}

.mat-card-title {
  color: #3f51b5;
  margin-bottom: 2rem;
}
.full-width-field {
  width: 100%;
}
